{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  <div class="topnav">
    <a class="active" href="/">Profile</a>
    <a href="#education">Education</a>
    <a href="#experience">Experience</a>
    <a href="#achievement">Achievements</a>
    <a href="#contact">Contact Me</a>
    <a href="/daftarmatkul">Daftar Mata Kuliah</a>
  </div>
  <div style="padding-left:16px">
    <h2>{{ title }}</h2>
  </div>
</body>
  
  {% block content %}
  {% endblock content %}
</html>
