<!DOCTYPE html>
{% extends 'base.html' %}
<html>
    {% block content %}
    <head>
        <style>
            table, th, td {
              border: 1px solid black;
            }
        </style>
    </head>
    
    <form method="POST">
        {% csrf_token %} 
        {{ form_matkul }}
        <input type="submit" value="Tambah">
    </form><br><br><br>

    {% for matkul in listmatkul %}
    <table style=" width: 100%;">
        <tr>
            <td>{{ matkul.nama }}</td>
            <td>{{ matkul.dosen }}</td>
            <td>{{ matkul.sks }}</td>
            <td>{{ matkul.deskripsi }}</td>
            <td>{{ matkul.smt_tahun }}</td>
            <td>{{ matkul.ruangKelas }}</td>
        </tr>
    </table>
    {% endfor %}
    {% endblock content %}
</html>