<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
  <title>Profile : Rafi Ismail</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="1">
  {% block content %}
  <h1>Hello, this is me!</h1>
  <img src="{% static 'img/mail.jpg' %}" height="200" width="200">
    <div class="col-sm-9 col-8">
      <div id="profile">    
        <h1>Get to Know Me!</h1>
        <p>Nama     : Rafi Ismail</p>
        <p>NPM      : 1906302491</p>
        <p>Angkatan : 2019</p>
        <p>Hobi     : Main game</p>
        <p>Saya adalah mahasiswa Sistem Informasi, Fakultas Ilmu Komputer, Universitas Indonesia. Baru-baru ini tertarik dengan entrepreneurship dan bisnis.</p></p>
      </div>
      <div id="education"> 
        <h1>Education</h1>
        <p>SMPN 179 Jakarta</p>
        <p>SMAN 14 Jakarta</p>
        <p>Universitas Indonesia</p>
      </div>        
      <div id="experience">         
        <h1>Experience</h1>
        <p>Ketua OSIS</p>
        <p>Staff Acara Wisgan</p>
        <p>PJ Acara SIWAK-NG 2020</p>
        <p>VPJ Acara Open House Fasilkom 2020</p>
        <p>VPJ Mentor PMB 2020</p>
      </div>
      <div id="achievement">         
        <h1>Achievement</h1>
        <p>Pelatda 1 OSP Komputer 2017/2018</p>
      </div>     
      <div id="contact">         
        <h1>Contact</h1>
        <a href="https://twitter.com/justahomeboy_">
          <img src="https://image.flaticon.com/icons/png/512/23/23681.png" alt="HTML tutorial" style="width:42px;height:42px;">
        </a>
        <a href="https://www.instagram.com/rafiisml_/">
          <img src="https://thumbnail.imgbin.com/7/6/25/imgbin-instagram-logo-computer-icons-insta-logo-DYkuQMcx1n3NsR9A3e1Z2vGgB_t.jpg" alt="HTML tutorial" style="width:42px;height:42px;">
        </a>
        <a href="https://www.linkedin.com/in/rafi-ismail-aa6309175?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B9u7LSQ%2BuRa%2BxBU2zsvGzOQ%3D%3D">
          <img src="https://www.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-linkedin-circle-512.png" alt="HTML tutorial" style="width:42px;height:42px;">
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
</body>
</html>
